* {
  font-family: helvetica;
}
  h1 {
  color: #101647ff; 
  text-align: center;
}

p1 {
color: white;
}

#titlebox {
  border-style: none;
  border-colour: #101647ff;
  background-color: beige;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

#about {
  background-color: #101647ff;;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: inline-block
  width="600" height="400"
}
  
